[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[scripts]
type-check = "mypy ."
format = "black ."
ruff = "ruff ."
tests = "python -m unittest discover -s tests"
